/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";

 @mixin clr {
 	&:after {
 		content: " ";
 		display: block;
 		clear: both;
 	}
 }

 @mixin container {
 	width: 1160px;
 	margin: 0 auto;
 	overflow: hidden;
 }

 @mixin fontPage {
 	font-family: "Open Sans", sans-serif;
 }

 * {
 	box-sizing: border-box;
 }

 html {
 	width: 100%;
 	height: 100%;
 }

 body {
 	width: 100%;
 	height: 100%;
 }

 .top_header {
 	background-color: #ECEEF4;
 }

 .container {
 	width: 1160px;
 	margin: 0 auto;
 	overflow: hidden;
 }

 .clear {
 	@include clr;
 }

 .top_header_menu {
 	margin-top: 16px;
 	float: left;
 }

 .top_header_list {
 	font-size: 0;
 }

 .top_header_list_item {
 	display: inline-block;
 	min-width: 98px;
 	min-height: 32px;
 	vertical-align: middle;
 	border-radius: 5px;
 	&:nth-child(n+2) {
 		margin-left: 6px;
 	}
 }

 .top_header_menu_link {
 	position: relative;
 	display: block;
 	padding-left: 36px;
 	padding-right: 8px;
 	font-size: 0;
 	background-color: #FFFFFF;
 	border-radius: 5px;
 	text-align: center;
 	border: 1px solid #FFFFFF;
 	&:hover{
 		border: 1px solid #C7C7C7;
 	}
 }

 .top_header_menu_icon {
 	position: absolute;
 	display: inline-block;
 	width: 20px;
 	height: 22px;
 	vertical-align: middle;
 	top: 5px;
 	left: 8px;
 }

 .header_blog {
 	background-image: url("../img/sprites.png");
 	background-position: 0 0;
 }

 .header_jobs {
 	background-image: url("../img/sprites.png");
 	background-position: -20px 0;
 }

 .header_support {
 	background-image: url("../img/sprites.png");
 	background-position: -40px 0;
 }

 .header_arabic {
 	background-image: url("../img/sprites.png");
 	background-position: -60px 0;
 }

 .top_header_menu_text {
 	display: inline-block;
 	margin: auto 0; 
 	font: bold normal 12px/32px none;
 	@include fontPage;
 	color: #6D6E71;
 }

 .top_header_toils {
 	float: right;
 	font-size: 0;
 }

 .top_header_toils_item {
 	position: relative;
 	display: inline-block;
 	width: 64px;
 	height: 64px;
 	&:hover {
 		border-left: 1px solid #DEE0E6;
 		border-right: 1px solid #DEE0E6;
 	}
 }

 .top_header_toils_icon {
 	position: absolute;
 	width: 25px;
 	height: 25px;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	margin: auto;
 	background-image: url("../img/sprites.png");
 }

 .top_header_toils_icon_facebook {
 	background-position: 0 -22px;
 }

 .top_header_toils_icon_twitter {
 	background-position: -25px -22px;
 }

 .top_header_toils_icon_instagram {
 	background-position: -50px -22px;
 }

 .top_header_toils_icon_g {
 	background-position: -75px -22px;
 }

 .header_center {
 	border-bottom: 1px solid #ECEEF4;
 }

 .header_border {
 	border-bottom: 1px solid #ECEEF4
 }

 .header_center_logo {
 	width: 405px;
 	float: left;
 }

 .header_center_contact {
 	margin-right: 16px;
 	float: right;
 }

 .header_center_logo_link {
 	position: relative;
 	display: block;
 	width: 405px;
 	height: 96px;
 	margin-top: 60px;
 	margin-bottom: 61px;
 	left: -17px;
 	text-decoration: none;
 	background-image: url("../img/logo.png");
 	background-position: center;
 	background-size: cover;
 }

 .header_center_logo_text {
 	display: block;
 	width: 100%;
 	height: 100%;
 	font: 200 normal 41px/96px none;
 	@include fontPage;  
 	color: #3687C4;
 	text-align: center;
 }

 .header_center_contact_list {
 	margin-top: 126px;
 	font-size: 0;
 }

 .contact_list_item {
 	position: relative;
 	display: inline-block;
 	width: 70px;
 	height: 36px;
 	&:nth-child(n+2) {
 		border-left: 2px solid #BCBEC3;
 	}
 }

 .contact_list_item_link {
 	position: absolute;
 	display: block;
 	width: 30px;
 	height: 34px;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	margin: auto;
 	background-image: url("../img/sprites.png");
 }

 .contact_item_tooltip {
 	position: absolute;
 	display: block;
 	bottom: 55px;
 	left: -80px;
 	width: 227px;
 	height: 50px;
 	margin: 0 auto;
 	border: 2px solid #D4D4D5;
 	border-radius: 5px;
 	font: 200 normal 16px/45px none;
 	@include fontPage;
 	color: #868689;
 	text-align: center;
 	opacity: 0;
 	&:before, &:after {
 		content: ''; 
 		position: absolute;
 		left: 94px;
 		bottom: -32px;
 		border: 18px solid transparent;
 		border-top: 13px solid #D4D4D5;
 		opacity: 0;
 	}
 	&:after {
 		border-top: 13px solid #FFFFFF;
 		bottom: -30px; 
 	}
 }

 .contact_phone {
 	background-position: 0 -47px;
 	&:hover {
 		background-position: 0 -81px;

 	}
 	&:hover + .contact_item_tooltip {
 		left: -10px;
 		transition: opacity 0.8s linear 0.2s; 
 		opacity: 1;
 		&:before, &:after {
 			left: 24px;
 			transition: opacity 0.4s linear;
 			opacity: 1; 
 		}
 	}
 }

 .contact_geolocation {
 	background-position: -30px -47px;
 	&:hover {
 		background-position: -30px -81px;
 	}
 	&:hover + .contact_item_tooltip {
 		transition: opacity 0.8s linear 0.2s; 
 		opacity: 1;
 		&:before, &:after {
 			transition: opacity 0.4s linear;
 			opacity: 1; 
 		}
 	}
 }

 .contact_mail {
 	background-position: -60px -47px;
 	&:hover {
 		background-position: -60px -81px;
 	}
 	&:hover + .contact_item_tooltip {
 		left: -150px;
 		transition: opacity 0.8s linear 0.2s;
 		opacity: 1; 
 		&:before, &:after {
 			left: 165px;
 			transition: opacity 0.4s linear;
 			opacity: 1; 
 		}
 	}
 }

 .header_bottom {
 	width: 100%;
 }

 .header_bottom_menubox {
 	float: left;
 }

 .menu_navigation {
 	font-size: 0;
 	text-align: center;
 }

 .menu_navigation_item {
 	position: relative;
 	display: inline-block;
 	height: 85px;
 	font: bold normal 13px/80px none;
 	@include fontPage;
 	text-decoration: none;
 	color: #7A7B7D;
 	&:nth-child(1) {
 		width: 74px;
 		text-transform: uppercase;
 		&:hover {
 			&:before, &:after {
 				left: 24px;
 			}
 		}
 	} 
 	&:nth-child(2) {
 		width: 164px;
 		&:hover {
 			&:before, &:after {
 				left: 75px;
 			}
 		}
 	} 
 	&:nth-child(3) {
 		width: 137px;
 		&:hover {
 			&:before, &:after {
 				left: 50px;
 			}
 		}
 	} 
 	&:nth-child(4) {
 		width: 134px;
 		&:hover {
 			&:before, &:after {
 				left: 52px;
 			}
 		}
 	} 
 	&:nth-child(5) {
 		width: 153px;
 		&:hover {
 			&:before, &:after {
 				left: 62px;
 			}
 		}
 	} 
 	&:nth-child(6) {
 		width: 105px;
 		&:hover {
 			&:before, &:after {
 				left: 40px;
 			}
 		}
 	}
 	&:nth-child(n+2) {
 		border-left: 1px solid #ECEEF4;
 	}
 	&:hover {
 		color: #1FAAE2;
 		&:before, &:after {
 			content: ''; 
 			position: absolute;
 			bottom: 0;
 			border: 15px solid transparent;
 			border-bottom: 7px solid #1FAAE2;
 		}
 	}
 }

 .header_bottom_searchbox {
 	margin-top: 24px;
 	line-height: 30px;
 	font-size: 0;
 	border: none;
 	float: right;
 }

 .searchbox_form {
 	@include clr;
 }

 .searchbox_submit {
 	display: inline-block;
 	width: 25px;
 	height: 25px;
 	float: left;
 	margin-top: 3px;
 	border: none;
 	background-color: #FFFFFF;
 	background-image: url("../img/sprites.png");
 	background-position: 0 -115px;
 	&:hover {
 		cursor: pointer;
 	}
 }

 .searchbox_input {
 	display: inline-block;
 	width: 210px;
 	height: 30px;
 	float: left;
 	padding-left: 13px;
 	border: none;
 	font: 200 normal 15px/25px none;
 	@include fontPage;
 	outline: none;
 	color: #343538;
 	:placeholder {
 		@include fontPage;
 		color: #6D6E71
 	}
 }

 .slider {
 	background-image: url("../img/bg_slider.png");
 	background-position: center;
 	background-size: cover;
 }

 .slider_text_container {
 	position: relative;
 	margin-top: 243px;
 	margin-left: 195px;
 }

 .slider_text_container_icon {
 	position: absolute;
 	width: 88px;
 	height: 91px;
 	top: 30px;
 	left: 10px;
 	background-image: url("../img/sprites.png");
 	background-position: -247px -186px;
 }

 .slider_text_top {
 	font: bold normal 58px/80px none;
 	@include fontPage;
 	margin: 0;
 	color: #FFFFFF;
 }

 .slider_text_bottom {
 	margin-left: 105px;
 	font: 200 normal 45px/45px none;
 	@include fontPage;
 	letter-spacing: -1px;
 	color: #FFFFFF;
 }

 .slider_design_container {
 	margin: 151px 0 125px 405px;
 	font-size: 0;
 }

 .design_item {
 	position: relative;
 	display: inline-block;
 	width: 322px;
 	height: 240px;
 	&:nth-child(1) {
 		.design_like {
 			background-color: #8ACA4F;
 		}
 	}
 	&:nth-child(2) {
 		.design_like {
 			background-color: #FEEB75;
 		}
 	}
 }

 .design_item_image {
 	width: 100%;
 	height: 100%;
 	&:hover + .design_like {
 		visibility: visible;
 	}
 }

 .design_like {
 	position: absolute;
 	width: 100%;
 	height: 30%;
 	bottom: 0;
 	opacity: 0.9;
 	text-align: center;
 	visibility: hidden;
 	&:hover {
 		visibility: visible;
 	}
 }

 .design_like_link {
 	display: block;
 	margin-top: 21px;
 	font-size: 0;
 }

 .like_1 {
 	.design_like_link_icon {
 		background-position: -583px 0;
 	}
 }

 .like_2 {
 	.design_like_link_icon {
 		background-position: -583px -31px;
 	}
 	.design_like_link_text {
 		color: #CC9800;
 	}
 }

 .design_like_link_icon {
 	display: inline-block;
 	width: 32px;
 	height: 29px;
 	vertical-align: middle;
 	background-image: url("../img/sprites.png");
 }

 .design_like_link_text {
 	display: inline-block;
 	margin-left: 12px;
 	font-size: 14px;
 	font-family: "Open Sans";
 	color: #FFFFFF;
 	vertical-align: middle;
 }

 .design_next {
 	display: inline-block;
 	width: 110px;
 	height: 240px;
 	background-color: #F4F4F4;
 }

 .design_next_link {
 	position: relative;
 	display: block;
 	width: 23px;
 	height: 40px;
 	margin: 0 auto;
 	margin-top: 100px;
 	background-image: url("../img/sprites.png");
 	background-position: -607px -60px;
 }

 .about_item {
 	margin: 30px 0 88px;
 	float: left;
 	@include clr;
 	&:nth-child(2) {
 		margin-left: 114px;
 	}
 }

 .about_item_left {
 	position: relative;
 	width: 106px;
 	height: 116px;
 	float: left;
 } 

 .about_item_right {
 	width: 385px;
 	margin-left: 32px;
 	float: left;
 }

 .about_item_icon {
 	position: absolute;
 	display: block;
 	width: 100%;
 	height: 100%;
 	background-image: url("../img/sprites.png");
 }

 .about_left_icon {
 	background-position: -100px 0;
 }

 .about_right_icon {
 	top: -3px;
 	left: 4px;
 	background-position: -206px 0;
 }

 .about_item_head {
 	margin-top: 18px;
 	font: bold normal 26px/24px none;
 	@include fontPage;
 	color: #6D6E71;
 }

 .about_item_text {
 	margin-top: 21px;
 	font: 200 normal 16px/24px none;
 	@include fontPage;
 	word-spacing: -3px;
 	color: #6D6E71;
 	text-align: justify;
 }

 .services_container {
 	&:before {
 		content: "";
 		display: block;
 		width: 100%;
 		height: 50px;
 		border-top: 2px solid #EAECED;
 		border-radius: 50% / 25px;
 	}
 }

 .servises_title {
 	max-width: 600px;
 	margin: 37px auto 0;
 	@include clr;
 }

 .title_icon {
 	width: 131px;
 	height: 115px;
 	margin-left: 17px;
 	background-image: url("../img/sprites.png");
 	background-position: 0 -140px;
 	float: left;
 }

 .title_description {
 	margin-left: 33px;
 	float: left;
 }

 .title_head {
 	margin-top: 24px;
 	font: bold normal 44px/44px none;
 	@include fontPage;
 	color: #6D6E71;
 }

 .title_text {
 	margin-top: 9px;
 	font: 200 normal 17px/17px none;
 	@include fontPage;
 	color: #6D6E71;
 }

 .servicesbox {
 	margin: 77px 0 82px;
 	@include clr;
 }

 .servicesbox_left {
 	width: 567px;
 	float: left;
 	border-right: 1px solid #EAECED;
 }

 .servicesbox_right {
 	width: 593px;
 	float: left;
 	.services_item {
 		margin-left: 90px;
 	}
 }

 .services_item {
 	position: relative;
 	display: block;
 	max-width: 510px;
 	min-height: 155px;
 	padding: 5px 0;
 	border: 2px solid #FFFFFF;
 	border-radius: 10px;
 	@include clr;
 	&:nth-child(2){
 		margin-top: 33px;
 	}
 	&:nth-child(3) {
 		margin-top: 74px;
 	}
 	&:hover {
 		border: 2px solid #D5D5D5;
 		background-color: #EFEFEF;
 	}
 }

 .services_item_iconbox {
 	position: relative;
 	display: block;
 	width: 100px;
 	height: 100px;
 	float: left;
 }

 .services_icon {
 	position: absolute;
 	display: block;
 	background-image: url("../img/sprites.png");
 }

 .development {
 	position: absolute;
 	width: 86px;
 	height: 86px;
 	background-position: -312px 0;
 	top: 7px;
 	left: -1px;
 }

 .mobile_applications {
 	width: 65px;
 	height: 86px;
 	background-position: -402px 0;
 	top: 7px;
 	left: 20px;
 }

 .software_solutions {
 	width: 88px;
 	height: 97px;
 	background-position: -314px -87px;
 	top: 7px;
 	left: -1px;
 }

 .interior_design {
 	width: 100px;
 	height: 74px;
 	background-position: -496px -94px;
 	top: 1px;
 	left: 4px;
 }

 .branding {
 	width: 90px;
 	height: 93px;
 	background-position: -404px -93px;
 	top: 6px;
 	left: -1px;
 }

 .seo {
 	width: 79px;
 	height: 92px;
 	background-position: -468px 0;
 	top: -6px;
 	left: 8px;
 }

 .services_item_head {
 	margin-top: 5px;
 	display: block;
 	float: left;
 	margin-left: 16px;
 	font: bold normal 24px/24px none;
 	@include fontPage;
 	color: #6D6E71;
 	text-decoration: none;
 }

 .services_item_text {
 	margin-top: 22px;
 	display: block;
 	max-width: 383px;
 	float: left;
 	margin-left: 16px;
 	font: 200 normal 16px/24px none;
 	@include fontPage;
 	color: #6D6E71;
 	text-align:justify;
 }

 .projects {
 	background-color: #EFEFEF;
 	border-top-left-radius: 950px 30px;
 	border-top-right-radius: 950px 30px;
 }

 .projects_title {
 	max-width: 530px;
 	margin: 59px auto 0;
 	@include clr;
 }

 .projects_title_icon {
 	width: 138px;
 	height: 151px;
 	margin-left: 15px;
 	float: left;
 	background-image: url("../img/sprites.png");
 	background-position: -502px -167px;
 }

 .projects_title_description {
 	max-width: 340px;
 	margin-left: 33px;
 	float: left;
 }

 .projects_title_head {
 	margin-top: 49px;
 	font: bold normal 44px/44px none;
 	@include fontPage;
 	color: #6D6E71;
 }

 .projects_title_text {
 	margin-top: 5px;
 	font: 200 normal 17px/24px none;
 	@include fontPage;
 	color: #6D6E71;
 }

 .projects_tabs {
 	max-width: 762px;
 	margin: 79px auto 0;
 	font-size: 0;
 }

 .projects_tabs_item {
 	display: inline-block;
 	width: 156px;
 	height: 46px;
 	font: bold normal 14px/38px none;
 	@include fontPage;
 	color: #BBBBBB;
 	text-decoration: none;
 	border: 2px solid #CECECE;
 	border-radius: 5px;
 	text-align: center;
 	&:first-child {
 		margin-left: 7px;
 	}
 	&:nth-child(n+2) {
 		margin-left: 15px;
 	}
 	&:first-child {
 		width: 122px;
 	}
 	&:last-child {
 		width: 101px;
 	}
 	&:hover {
 		border: 2px solid #FFFFFF;
 		color: #6D6E71;
 		background-color: #FFFFFF;
 	}
 }

 .projects_boxes {
 	margin: 50px 0 88px;
 	@include clr;
 }

 .projects_boxes_item {
 	width: 280px;
 	height: 285px;
 	float: left;
 	background-color: #FFFFFF;
 	border-radius: 5px;

 	&:nth-child(n+2) {
 		margin-left: 13px;
 	}
 	&:nth-child(5) {
 		margin-left: 0;
 	}
 	&:nth-child(n+5) {
 		margin-top: 17px;
 	}
 }

 .boxes_item_iconbox {
 	width: 100%;
 	height: 227px;
 	padding: 15px 13px 0 13px;
 }

 .boxes_item_icon {
 	display: block;
 	width: 100%;
 	height: 100%;
 	border-radius: 5px;
 	background-color: #F5F5F5;
 	background-position: 50% 50%;
 }

 .boxes_item_buttonbox {
 	padding: 0 13px 0 13px;
 	font-size: 0;
 }

 .boxes_item_button {
 	display: inline-block;
 	width: 50%;
 	height: 58px;
 	border: none;
 	background-color: #FFFFFF;
 }

 .leftbutton {
 	background-image: url("../img/projects/projects_button1.png");
 	background-position: center;
 	background-repeat: no-repeat;
 	&:hover {
 		cursor: pointer;
 		background-image: url("../img/projects/projects_button1_1.png");
 	}
 }

 .rightbutton {
 	border-left: 2px solid #F5F5F5;
 	background-image: url("../img/projects/projects_button2.png");
 	background-position: center;
 	background-repeat: no-repeat;
 	&:hover {
 		cursor: pointer;
 		background-image: url("../img/projects/projects_button2_2.png");
 	}
 }

 .imgbox1 {
 	background-image: url("../img/projects/imgbox1.jpg");
 }

 .imgbox2 {
 	background-image: url("../img/projects/imgbox2.jpg");
 }

 .imgbox3 {
 	background-image: url("../img/projects/imgbox3.jpg");
 }

 .imgbox4 {
 	background-image: url("../img/projects/imgbox4.jpg");
 }

 .imgbox5 {
 	background-image: url("../img/projects/imgbox5.jpg");
 }

 .imgbox6 {
 	background-image: url("../img/projects/imgbox6.jpg");
 }

 .imgbox7 {
 	background-image: url("../img/projects/imgbox7.jpg");
 }

 .imgbox8 {
 	background-image: url("../img/projects/imgbox8.jpg");
 }

 .footer {
 	background-color: #2B2C2D;
 }

 .footer_container {
 	font-size: 0;
 }

 .top_footer_container {
 	margin-top: 75px;
 	overflow: hidden;
 }

 .bottom_footer_container {
 	height: 15px;
 	margin: 64px 0 34px;
 	overflow: hidden;
 }

 .footer_toils {
 	float: left;
 }

 .footer_toils_item {
 	position: relative;
 	display: inline-block;
 	width: 64px;
 	height: 64px;
 	border-left: 1px solid #414344;
 	&:last-child {
 		border-right: 1px solid #414344;
 	}
 }

 .footer_toils_link_icon {
 	position: absolute;
 	display: block;
 	width: 25px;
 	height: 25px;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	margin: auto;
 	background-image: url("../img/sprites.png");
 }

 .footer_toils_facebook {
 	background-position: -160px -125px;
 	&:hover {
 		background-position: -160px -150px;
 	}
 }

 .footer_toils_twitter {
 	background-position: -185px -125px;
 	&:hover {
 		background-position: -185px -150px;
 	}
 }

 .footer_toils_instagram {
 	background-position: -210px -125px;
 	&:hover {
 		background-position: -210px -150px;
 	}
 }

 .footer_toils_g {
 	background-position: -235px -125px;
 	&:hover {
 		background-position: -235px -150px;
 	}
 }

 .footer_search {
 	position: relative;
 	margin-top: 8px;
 	float: right;
 	font-size: 0;
 }

 .footer_search_icon {
 	position: absolute;
 	display: block;
 	width: 32px;
 	height: 26px;
 	background-image: url("../img/sprites.png");
 	background-position: -156px -182px;
 	top: 20px;
 	left: 20px;
 }

 .footer_search_text {
 	width: 593px;
 	height: 65px;
 	border: none;
 	border-radius: 10px;
 	background-color: #393B3C;
 	padding-left: 84px;
 	font: bold normal 14px/14px none;
 	@include fontPage;
 	color: #C6C7CA;
 	:placeholder {
 		@include fontPage;
 		color: #6D6E71;
 	}
 }

 .footer_search_submit {
 	position: absolute;
 	width: 78px;
 	height: 45px;
 	border: none;
 	border-radius: 10px;
 	background-color: #494C4D;
 	top: 10px;
 	right: 9px;
 	font: bold normal 14px/14px none;
 	@include fontPage;
 	color: #6D6E71;
 	&:hover {
 		cursor: pointer;
 	}
 }

 .footer_textbox {
 	float: left;
 	font: 200 normal 13px/13px none;
 	@include fontPage;
 	color: #565759;
 }

 .footer_menu {
 	float: right;
 }

 .footer_menu_list {
 	font-size: 0;
 }

 .footer_menu_list_item {
 	display: inline-block;
 	margin-left: 7px;
 	&:first-child {
 		margin-left: 0;
 	}

 }

 .footer_menu_link {
 	font: 200 normal 13px/13px none;
 	@include fontPage;
 	color: #565759;
 	text-decoration: none;
 	&:hover {
 		color: #FFFFFF;
 		text-decoration: underline;
 	}
 }

 .footer_menu_separator {
 	display: block;
 	width: 5px;
 	height: 4px;
 	background-image: url("../img/sprites.png");
 	background-position: -206px -196px;
 }
