/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 26, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 30, ../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 35, ../sass/screen.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 40, ../sass/screen.scss */
.top_header {
  background-color: #ECEEF4;
}

/* line 44, ../sass/screen.scss */
.container {
  width: 1160px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 9, ../sass/screen.scss */
.clear:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 54, ../sass/screen.scss */
.top_header_menu {
  margin-top: 16px;
  float: left;
}

/* line 59, ../sass/screen.scss */
.top_header_list {
  font-size: 0;
}

/* line 63, ../sass/screen.scss */
.top_header_list_item {
  display: inline-block;
  min-width: 98px;
  min-height: 32px;
  vertical-align: middle;
  border-radius: 5px;
}
/* line 69, ../sass/screen.scss */
.top_header_list_item:nth-child(n+2) {
  margin-left: 6px;
}

/* line 74, ../sass/screen.scss */
.top_header_menu_link {
  position: relative;
  display: block;
  padding-left: 36px;
  padding-right: 8px;
  font-size: 0;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #FFFFFF;
}
/* line 84, ../sass/screen.scss */
.top_header_menu_link:hover {
  border: 1px solid #C7C7C7;
}

/* line 89, ../sass/screen.scss */
.top_header_menu_icon {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 22px;
  vertical-align: middle;
  top: 5px;
  left: 8px;
}

/* line 99, ../sass/screen.scss */
.header_blog {
  background-image: url("../img/sprites.png");
  background-position: 0 0;
}

/* line 104, ../sass/screen.scss */
.header_jobs {
  background-image: url("../img/sprites.png");
  background-position: -20px 0;
}

/* line 109, ../sass/screen.scss */
.header_support {
  background-image: url("../img/sprites.png");
  background-position: -40px 0;
}

/* line 114, ../sass/screen.scss */
.header_arabic {
  background-image: url("../img/sprites.png");
  background-position: -60px 0;
}

/* line 119, ../sass/screen.scss */
.top_header_menu_text {
  display: inline-block;
  margin: auto 0;
  font: bold normal 12px/32px none;
  font-family: "Open Sans", sans-serif;
  color: #6D6E71;
}

/* line 127, ../sass/screen.scss */
.top_header_toils {
  float: right;
  font-size: 0;
}

/* line 132, ../sass/screen.scss */
.top_header_toils_item {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
}
/* line 137, ../sass/screen.scss */
.top_header_toils_item:hover {
  border-left: 1px solid #DEE0E6;
  border-right: 1px solid #DEE0E6;
}

/* line 143, ../sass/screen.scss */
.top_header_toils_icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: url("../img/sprites.png");
}

/* line 155, ../sass/screen.scss */
.top_header_toils_icon_facebook {
  background-position: 0 -22px;
}

/* line 159, ../sass/screen.scss */
.top_header_toils_icon_twitter {
  background-position: -25px -22px;
}

/* line 163, ../sass/screen.scss */
.top_header_toils_icon_instagram {
  background-position: -50px -22px;
}

/* line 167, ../sass/screen.scss */
.top_header_toils_icon_g {
  background-position: -75px -22px;
}

/* line 171, ../sass/screen.scss */
.header_center {
  border-bottom: 1px solid #ECEEF4;
}

/* line 175, ../sass/screen.scss */
.header_border {
  border-bottom: 1px solid #ECEEF4;
}

/* line 179, ../sass/screen.scss */
.header_center_logo {
  width: 405px;
  float: left;
}

/* line 184, ../sass/screen.scss */
.header_center_contact {
  margin-right: 16px;
  float: right;
}

/* line 189, ../sass/screen.scss */
.header_center_logo_link {
  position: relative;
  display: block;
  width: 405px;
  height: 96px;
  margin-top: 60px;
  margin-bottom: 61px;
  left: -17px;
  text-decoration: none;
  background-image: url("../img/logo.png");
  background-position: center;
  background-size: cover;
}

/* line 203, ../sass/screen.scss */
.header_center_logo_text {
  display: block;
  width: 100%;
  height: 100%;
  font: 200 normal 41px/96px none;
  font-family: "Open Sans", sans-serif;
  color: #3687C4;
  text-align: center;
}

/* line 213, ../sass/screen.scss */
.header_center_contact_list {
  margin-top: 126px;
  font-size: 0;
}

/* line 218, ../sass/screen.scss */
.contact_list_item {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 36px;
}
/* line 223, ../sass/screen.scss */
.contact_list_item:nth-child(n+2) {
  border-left: 2px solid #BCBEC3;
}

/* line 228, ../sass/screen.scss */
.contact_list_item_link {
  position: absolute;
  display: block;
  width: 30px;
  height: 34px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: url("../img/sprites.png");
}

/* line 241, ../sass/screen.scss */
.contact_item_tooltip {
  position: absolute;
  display: block;
  bottom: 55px;
  left: -80px;
  width: 227px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid #D4D4D5;
  border-radius: 5px;
  font: 200 normal 16px/45px none;
  font-family: "Open Sans", sans-serif;
  color: #868689;
  text-align: center;
  opacity: 0;
}
/* line 256, ../sass/screen.scss */
.contact_item_tooltip:before, .contact_item_tooltip:after {
  content: '';
  position: absolute;
  left: 94px;
  bottom: -32px;
  border: 18px solid transparent;
  border-top: 13px solid #D4D4D5;
  opacity: 0;
}
/* line 265, ../sass/screen.scss */
.contact_item_tooltip:after {
  border-top: 13px solid #FFFFFF;
  bottom: -30px;
}

/* line 271, ../sass/screen.scss */
.contact_phone {
  background-position: 0 -47px;
}
/* line 273, ../sass/screen.scss */
.contact_phone:hover {
  background-position: 0 -81px;
}
/* line 277, ../sass/screen.scss */
.contact_phone:hover + .contact_item_tooltip {
  left: -10px;
  transition: opacity 0.8s linear 0.2s;
  opacity: 1;
}
/* line 281, ../sass/screen.scss */
.contact_phone:hover + .contact_item_tooltip:before, .contact_phone:hover + .contact_item_tooltip:after {
  left: 24px;
  transition: opacity 0.4s linear;
  opacity: 1;
}

/* line 289, ../sass/screen.scss */
.contact_geolocation {
  background-position: -30px -47px;
}
/* line 291, ../sass/screen.scss */
.contact_geolocation:hover {
  background-position: -30px -81px;
}
/* line 294, ../sass/screen.scss */
.contact_geolocation:hover + .contact_item_tooltip {
  transition: opacity 0.8s linear 0.2s;
  opacity: 1;
}
/* line 297, ../sass/screen.scss */
.contact_geolocation:hover + .contact_item_tooltip:before, .contact_geolocation:hover + .contact_item_tooltip:after {
  transition: opacity 0.4s linear;
  opacity: 1;
}

/* line 304, ../sass/screen.scss */
.contact_mail {
  background-position: -60px -47px;
}
/* line 306, ../sass/screen.scss */
.contact_mail:hover {
  background-position: -60px -81px;
}
/* line 309, ../sass/screen.scss */
.contact_mail:hover + .contact_item_tooltip {
  left: -150px;
  transition: opacity 0.8s linear 0.2s;
  opacity: 1;
}
/* line 313, ../sass/screen.scss */
.contact_mail:hover + .contact_item_tooltip:before, .contact_mail:hover + .contact_item_tooltip:after {
  left: 165px;
  transition: opacity 0.4s linear;
  opacity: 1;
}

/* line 321, ../sass/screen.scss */
.header_bottom {
  width: 100%;
}

/* line 325, ../sass/screen.scss */
.header_bottom_menubox {
  float: left;
}

/* line 329, ../sass/screen.scss */
.menu_navigation {
  font-size: 0;
  text-align: center;
}

/* line 334, ../sass/screen.scss */
.menu_navigation_item {
  position: relative;
  display: inline-block;
  height: 85px;
  font: bold normal 13px/80px none;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #7A7B7D;
}
/* line 342, ../sass/screen.scss */
.menu_navigation_item:nth-child(1) {
  width: 74px;
  text-transform: uppercase;
}
/* line 346, ../sass/screen.scss */
.menu_navigation_item:nth-child(1):hover:before, .menu_navigation_item:nth-child(1):hover:after {
  left: 24px;
}
/* line 351, ../sass/screen.scss */
.menu_navigation_item:nth-child(2) {
  width: 164px;
}
/* line 354, ../sass/screen.scss */
.menu_navigation_item:nth-child(2):hover:before, .menu_navigation_item:nth-child(2):hover:after {
  left: 75px;
}
/* line 359, ../sass/screen.scss */
.menu_navigation_item:nth-child(3) {
  width: 137px;
}
/* line 362, ../sass/screen.scss */
.menu_navigation_item:nth-child(3):hover:before, .menu_navigation_item:nth-child(3):hover:after {
  left: 50px;
}
/* line 367, ../sass/screen.scss */
.menu_navigation_item:nth-child(4) {
  width: 134px;
}
/* line 370, ../sass/screen.scss */
.menu_navigation_item:nth-child(4):hover:before, .menu_navigation_item:nth-child(4):hover:after {
  left: 52px;
}
/* line 375, ../sass/screen.scss */
.menu_navigation_item:nth-child(5) {
  width: 153px;
}
/* line 378, ../sass/screen.scss */
.menu_navigation_item:nth-child(5):hover:before, .menu_navigation_item:nth-child(5):hover:after {
  left: 62px;
}
/* line 383, ../sass/screen.scss */
.menu_navigation_item:nth-child(6) {
  width: 105px;
}
/* line 386, ../sass/screen.scss */
.menu_navigation_item:nth-child(6):hover:before, .menu_navigation_item:nth-child(6):hover:after {
  left: 40px;
}
/* line 391, ../sass/screen.scss */
.menu_navigation_item:nth-child(n+2) {
  border-left: 1px solid #ECEEF4;
}
/* line 394, ../sass/screen.scss */
.menu_navigation_item:hover {
  color: #1FAAE2;
}
/* line 396, ../sass/screen.scss */
.menu_navigation_item:hover:before, .menu_navigation_item:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  border: 15px solid transparent;
  border-bottom: 7px solid #1FAAE2;
}

/* line 406, ../sass/screen.scss */
.header_bottom_searchbox {
  margin-top: 24px;
  line-height: 30px;
  font-size: 0;
  border: none;
  float: right;
}

/* line 9, ../sass/screen.scss */
.searchbox_form:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 418, ../sass/screen.scss */
.searchbox_submit {
  display: inline-block;
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 3px;
  border: none;
  background-color: #FFFFFF;
  background-image: url("../img/sprites.png");
  background-position: 0 -115px;
}
/* line 428, ../sass/screen.scss */
.searchbox_submit:hover {
  cursor: pointer;
}

/* line 433, ../sass/screen.scss */
.searchbox_input {
  display: inline-block;
  width: 210px;
  height: 30px;
  float: left;
  padding-left: 13px;
  border: none;
  font: 200 normal 15px/25px none;
  font-family: "Open Sans", sans-serif;
  outline: none;
  color: #343538;
}
/* line 444, ../sass/screen.scss */
.searchbox_input :placeholder {
  font-family: "Open Sans", sans-serif;
  color: #6D6E71;
}

/* line 450, ../sass/screen.scss */
.slider {
  background-image: url("../img/bg_slider.png");
  background-position: center;
  background-size: cover;
}

/* line 456, ../sass/screen.scss */
.slider_text_container {
  position: relative;
  margin-top: 243px;
  margin-left: 195px;
}

/* line 462, ../sass/screen.scss */
.slider_text_container_icon {
  position: absolute;
  width: 88px;
  height: 91px;
  top: 30px;
  left: 10px;
  background-image: url("../img/sprites.png");
  background-position: -247px -186px;
}

/* line 472, ../sass/screen.scss */
.slider_text_top {
  font: bold normal 58px/80px none;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: #FFFFFF;
}

/* line 479, ../sass/screen.scss */
.slider_text_bottom {
  margin-left: 105px;
  font: 200 normal 45px/45px none;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -1px;
  color: #FFFFFF;
}

/* line 487, ../sass/screen.scss */
.slider_design_container {
  margin: 151px 0 125px 405px;
  font-size: 0;
}

/* line 492, ../sass/screen.scss */
.design_item {
  position: relative;
  display: inline-block;
  width: 322px;
  height: 240px;
}
/* line 498, ../sass/screen.scss */
.design_item:nth-child(1) .design_like {
  background-color: #8ACA4F;
}
/* line 503, ../sass/screen.scss */
.design_item:nth-child(2) .design_like {
  background-color: #FEEB75;
}

/* line 509, ../sass/screen.scss */
.design_item_image {
  width: 100%;
  height: 100%;
}
/* line 512, ../sass/screen.scss */
.design_item_image:hover + .design_like {
  visibility: visible;
}

/* line 517, ../sass/screen.scss */
.design_like {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  opacity: 0.9;
  text-align: center;
  visibility: hidden;
}
/* line 525, ../sass/screen.scss */
.design_like:hover {
  visibility: visible;
}

/* line 530, ../sass/screen.scss */
.design_like_link {
  display: block;
  margin-top: 21px;
  font-size: 0;
}

/* line 537, ../sass/screen.scss */
.like_1 .design_like_link_icon {
  background-position: -583px 0;
}

/* line 543, ../sass/screen.scss */
.like_2 .design_like_link_icon {
  background-position: -583px -31px;
}
/* line 546, ../sass/screen.scss */
.like_2 .design_like_link_text {
  color: #CC9800;
}

/* line 551, ../sass/screen.scss */
.design_like_link_icon {
  display: inline-block;
  width: 32px;
  height: 29px;
  vertical-align: middle;
  background-image: url("../img/sprites.png");
}

/* line 559, ../sass/screen.scss */
.design_like_link_text {
  display: inline-block;
  margin-left: 12px;
  font-size: 14px;
  font-family: "Open Sans";
  color: #FFFFFF;
  vertical-align: middle;
}

/* line 568, ../sass/screen.scss */
.design_next {
  display: inline-block;
  width: 110px;
  height: 240px;
  background-color: #F4F4F4;
}

/* line 575, ../sass/screen.scss */
.design_next_link {
  position: relative;
  display: block;
  width: 23px;
  height: 40px;
  margin: 0 auto;
  margin-top: 100px;
  background-image: url("../img/sprites.png");
  background-position: -607px -60px;
}

/* line 586, ../sass/screen.scss */
.about_item {
  margin: 30px 0 88px;
  float: left;
}
/* line 9, ../sass/screen.scss */
.about_item:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 590, ../sass/screen.scss */
.about_item:nth-child(2) {
  margin-left: 114px;
}

/* line 595, ../sass/screen.scss */
.about_item_left {
  position: relative;
  width: 106px;
  height: 116px;
  float: left;
}

/* line 602, ../sass/screen.scss */
.about_item_right {
  width: 385px;
  margin-left: 32px;
  float: left;
}

/* line 608, ../sass/screen.scss */
.about_item_icon {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/sprites.png");
}

/* line 616, ../sass/screen.scss */
.about_left_icon {
  background-position: -100px 0;
}

/* line 620, ../sass/screen.scss */
.about_right_icon {
  top: -3px;
  left: 4px;
  background-position: -206px 0;
}

/* line 626, ../sass/screen.scss */
.about_item_head {
  margin-top: 18px;
  font: bold normal 26px/24px none;
  font-family: "Open Sans", sans-serif;
  color: #6D6E71;
}

/* line 633, ../sass/screen.scss */
.about_item_text {
  margin-top: 21px;
  font: 200 normal 16px/24px none;
  font-family: "Open Sans", sans-serif;
  word-spacing: -3px;
  color: #6D6E71;
  text-align: justify;
}

/* line 643, ../sass/screen.scss */
.services_container:before {
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  border-top: 2px solid #EAECED;
  border-radius: 50% / 25px;
}

/* line 653, ../sass/screen.scss */
.servises_title {
  max-width: 600px;
  margin: 37px auto 0;
}
/* line 9, ../sass/screen.scss */
.servises_title:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 659, ../sass/screen.scss */
.title_icon {
  width: 131px;
  height: 115px;
  margin-left: 17px;
  background-image: url("../img/sprites.png");
  background-position: 0 -140px;
  float: left;
}

/* line 668, ../sass/screen.scss */
.title_description {
  margin-left: 33px;
  float: left;
}

/* line 673, ../sass/screen.scss */
.title_head {
  margin-top: 24px;
  font: bold normal 44px/44px none;
  font-family: "Open Sans", sans-serif;
  color: #6D6E71;
}

/* line 680, ../sass/screen.scss */
.title_text {
  margin-top: 9px;
  font: 200 normal 17px/17px none;
  font-family: "Open Sans", sans-serif;
  color: #6D6E71;
}

/* line 687, ../sass/screen.scss */
.servicesbox {
  margin: 77px 0 82px;
}
/* line 9, ../sass/screen.scss */
.servicesbox:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 692, ../sass/screen.scss */
.servicesbox_left {
  width: 567px;
  float: left;
  border-right: 1px solid #EAECED;
}

/* line 698, ../sass/screen.scss */
.servicesbox_right {
  width: 593px;
  float: left;
}
/* line 701, ../sass/screen.scss */
.servicesbox_right .services_item {
  margin-left: 90px;
}

/* line 706, ../sass/screen.scss */
.services_item {
  position: relative;
  display: block;
  max-width: 510px;
  min-height: 155px;
  padding: 5px 0;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}
/* line 9, ../sass/screen.scss */
.services_item:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 715, ../sass/screen.scss */
.services_item:nth-child(2) {
  margin-top: 33px;
}
/* line 718, ../sass/screen.scss */
.services_item:nth-child(3) {
  margin-top: 74px;
}
/* line 721, ../sass/screen.scss */
.services_item:hover {
  border: 2px solid #D5D5D5;
  background-color: #EFEFEF;
}

/* line 727, ../sass/screen.scss */
.services_item_iconbox {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  float: left;
}

/* line 735, ../sass/screen.scss */
.services_icon {
  position: absolute;
  display: block;
  background-image: url("../img/sprites.png");
}

/* line 741, ../sass/screen.scss */
.development {
  position: absolute;
  width: 86px;
  height: 86px;
  background-position: -312px 0;
  top: 7px;
  left: -1px;
}

/* line 750, ../sass/screen.scss */
.mobile_applications {
  width: 65px;
  height: 86px;
  background-position: -402px 0;
  top: 7px;
  left: 20px;
}

/* line 758, ../sass/screen.scss */
.software_solutions {
  width: 88px;
  height: 97px;
  background-position: -314px -87px;
  top: 7px;
  left: -1px;
}

/* line 766, ../sass/screen.scss */
.interior_design {
  width: 100px;
  height: 74px;
  background-position: -496px -94px;
  top: 1px;
  left: 4px;
}

/* line 774, ../sass/screen.scss */
.branding {
  width: 90px;
  height: 93px;
  background-position: -404px -93px;
  top: 6px;
  left: -1px;
}

/* line 782, ../sass/screen.scss */
.seo {
  width: 79px;
  height: 92px;
  background-position: -468px 0;
  top: -6px;
  left: 8px;
}

/* line 790, ../sass/screen.scss */
.services_item_head {
  margin-top: 5px;
  display: block;
  float: left;
  margin-left: 16px;
  font: bold normal 24px/24px none;
  font-family: "Open Sans", sans-serif;
  color: #6D6E71;
  text-decoration: none;
}

/* line 801, ../sass/screen.scss */
.services_item_text {
  margin-top: 22px;
  display: block;
  max-width: 383px;
  float: left;
  margin-left: 16px;
  font: 200 normal 16px/24px none;
  font-family: "Open Sans", sans-serif;
  color: #6D6E71;
  text-align: justify;
}

/* line 813, ../sass/screen.scss */
.projects {
  background-color: #EFEFEF;
  border-top-left-radius: 950px 30px;
  border-top-right-radius: 950px 30px;
}

/* line 819, ../sass/screen.scss */
.projects_title {
  max-width: 530px;
  margin: 59px auto 0;
}
/* line 9, ../sass/screen.scss */
.projects_title:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 825, ../sass/screen.scss */
.projects_title_icon {
  width: 138px;
  height: 151px;
  margin-left: 15px;
  float: left;
  background-image: url("../img/sprites.png");
  background-position: -502px -167px;
}

/* line 834, ../sass/screen.scss */
.projects_title_description {
  max-width: 340px;
  margin-left: 33px;
  float: left;
}

/* line 840, ../sass/screen.scss */
.projects_title_head {
  margin-top: 49px;
  font: bold normal 44px/44px none;
  font-family: "Open Sans", sans-serif;
  color: #6D6E71;
}

/* line 847, ../sass/screen.scss */
.projects_title_text {
  margin-top: 5px;
  font: 200 normal 17px/24px none;
  font-family: "Open Sans", sans-serif;
  color: #6D6E71;
}

/* line 854, ../sass/screen.scss */
.projects_tabs {
  max-width: 762px;
  margin: 79px auto 0;
  font-size: 0;
}

/* line 860, ../sass/screen.scss */
.projects_tabs_item {
  display: inline-block;
  width: 156px;
  height: 46px;
  font: bold normal 14px/38px none;
  font-family: "Open Sans", sans-serif;
  color: #BBBBBB;
  text-decoration: none;
  border: 2px solid #CECECE;
  border-radius: 5px;
  text-align: center;
}
/* line 871, ../sass/screen.scss */
.projects_tabs_item:first-child {
  margin-left: 7px;
}
/* line 874, ../sass/screen.scss */
.projects_tabs_item:nth-child(n+2) {
  margin-left: 15px;
}
/* line 877, ../sass/screen.scss */
.projects_tabs_item:first-child {
  width: 122px;
}
/* line 880, ../sass/screen.scss */
.projects_tabs_item:last-child {
  width: 101px;
}
/* line 883, ../sass/screen.scss */
.projects_tabs_item:hover {
  border: 2px solid #FFFFFF;
  color: #6D6E71;
  background-color: #FFFFFF;
}

/* line 890, ../sass/screen.scss */
.projects_boxes {
  margin: 50px 0 88px;
}
/* line 9, ../sass/screen.scss */
.projects_boxes:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 895, ../sass/screen.scss */
.projects_boxes_item {
  width: 280px;
  height: 285px;
  float: left;
  background-color: #FFFFFF;
  border-radius: 5px;
}
/* line 902, ../sass/screen.scss */
.projects_boxes_item:nth-child(n+2) {
  margin-left: 13px;
}
/* line 905, ../sass/screen.scss */
.projects_boxes_item:nth-child(5) {
  margin-left: 0;
}
/* line 908, ../sass/screen.scss */
.projects_boxes_item:nth-child(n+5) {
  margin-top: 17px;
}

/* line 913, ../sass/screen.scss */
.boxes_item_iconbox {
  width: 100%;
  height: 227px;
  padding: 15px 13px 0 13px;
}

/* line 919, ../sass/screen.scss */
.boxes_item_icon {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #F5F5F5;
  background-position: 50% 50%;
}

/* line 928, ../sass/screen.scss */
.boxes_item_buttonbox {
  padding: 0 13px 0 13px;
  font-size: 0;
}

/* line 933, ../sass/screen.scss */
.boxes_item_button {
  display: inline-block;
  width: 50%;
  height: 58px;
  border: none;
  background-color: #FFFFFF;
}

/* line 941, ../sass/screen.scss */
.leftbutton {
  background-image: url("../img/projects/projects_button1.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 945, ../sass/screen.scss */
.leftbutton:hover {
  cursor: pointer;
  background-image: url("../img/projects/projects_button1_1.png");
}

/* line 951, ../sass/screen.scss */
.rightbutton {
  border-left: 2px solid #F5F5F5;
  background-image: url("../img/projects/projects_button2.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 956, ../sass/screen.scss */
.rightbutton:hover {
  cursor: pointer;
  background-image: url("../img/projects/projects_button2_2.png");
}

/* line 962, ../sass/screen.scss */
.imgbox1 {
  background-image: url("../img/projects/imgbox1.jpg");
}

/* line 966, ../sass/screen.scss */
.imgbox2 {
  background-image: url("../img/projects/imgbox2.jpg");
}

/* line 970, ../sass/screen.scss */
.imgbox3 {
  background-image: url("../img/projects/imgbox3.jpg");
}

/* line 974, ../sass/screen.scss */
.imgbox4 {
  background-image: url("../img/projects/imgbox4.jpg");
}

/* line 978, ../sass/screen.scss */
.imgbox5 {
  background-image: url("../img/projects/imgbox5.jpg");
}

/* line 982, ../sass/screen.scss */
.imgbox6 {
  background-image: url("../img/projects/imgbox6.jpg");
}

/* line 986, ../sass/screen.scss */
.imgbox7 {
  background-image: url("../img/projects/imgbox7.jpg");
}

/* line 990, ../sass/screen.scss */
.imgbox8 {
  background-image: url("../img/projects/imgbox8.jpg");
}

/* line 994, ../sass/screen.scss */
.footer {
  background-color: #2B2C2D;
}

/* line 998, ../sass/screen.scss */
.footer_container {
  font-size: 0;
}

/* line 1002, ../sass/screen.scss */
.top_footer_container {
  margin-top: 75px;
  overflow: hidden;
}

/* line 1007, ../sass/screen.scss */
.bottom_footer_container {
  height: 15px;
  margin: 64px 0 34px;
  overflow: hidden;
}

/* line 1013, ../sass/screen.scss */
.footer_toils {
  float: left;
}

/* line 1017, ../sass/screen.scss */
.footer_toils_item {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  border-left: 1px solid #414344;
}
/* line 1023, ../sass/screen.scss */
.footer_toils_item:last-child {
  border-right: 1px solid #414344;
}

/* line 1028, ../sass/screen.scss */
.footer_toils_link_icon {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: url("../img/sprites.png");
}

/* line 1041, ../sass/screen.scss */
.footer_toils_facebook {
  background-position: -160px -125px;
}
/* line 1043, ../sass/screen.scss */
.footer_toils_facebook:hover {
  background-position: -160px -150px;
}

/* line 1048, ../sass/screen.scss */
.footer_toils_twitter {
  background-position: -185px -125px;
}
/* line 1050, ../sass/screen.scss */
.footer_toils_twitter:hover {
  background-position: -185px -150px;
}

/* line 1055, ../sass/screen.scss */
.footer_toils_instagram {
  background-position: -210px -125px;
}
/* line 1057, ../sass/screen.scss */
.footer_toils_instagram:hover {
  background-position: -210px -150px;
}

/* line 1062, ../sass/screen.scss */
.footer_toils_g {
  background-position: -235px -125px;
}
/* line 1064, ../sass/screen.scss */
.footer_toils_g:hover {
  background-position: -235px -150px;
}

/* line 1069, ../sass/screen.scss */
.footer_search {
  position: relative;
  margin-top: 8px;
  float: right;
  font-size: 0;
}

/* line 1076, ../sass/screen.scss */
.footer_search_icon {
  position: absolute;
  display: block;
  width: 32px;
  height: 26px;
  background-image: url("../img/sprites.png");
  background-position: -156px -182px;
  top: 20px;
  left: 20px;
}

/* line 1087, ../sass/screen.scss */
.footer_search_text {
  width: 593px;
  height: 65px;
  border: none;
  border-radius: 10px;
  background-color: #393B3C;
  padding-left: 84px;
  font: bold normal 14px/14px none;
  font-family: "Open Sans", sans-serif;
  color: #C6C7CA;
}
/* line 1097, ../sass/screen.scss */
.footer_search_text :placeholder {
  font-family: "Open Sans", sans-serif;
  color: #6D6E71;
}

/* line 1103, ../sass/screen.scss */
.footer_search_submit {
  position: absolute;
  width: 78px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: #494C4D;
  top: 10px;
  right: 9px;
  font: bold normal 14px/14px none;
  font-family: "Open Sans", sans-serif;
  color: #6D6E71;
}
/* line 1115, ../sass/screen.scss */
.footer_search_submit:hover {
  cursor: pointer;
}

/* line 1120, ../sass/screen.scss */
.footer_textbox {
  float: left;
  font: 200 normal 13px/13px none;
  font-family: "Open Sans", sans-serif;
  color: #565759;
}

/* line 1127, ../sass/screen.scss */
.footer_menu {
  float: right;
}

/* line 1131, ../sass/screen.scss */
.footer_menu_list {
  font-size: 0;
}

/* line 1135, ../sass/screen.scss */
.footer_menu_list_item {
  display: inline-block;
  margin-left: 7px;
}
/* line 1138, ../sass/screen.scss */
.footer_menu_list_item:first-child {
  margin-left: 0;
}

/* line 1144, ../sass/screen.scss */
.footer_menu_link {
  font: 200 normal 13px/13px none;
  font-family: "Open Sans", sans-serif;
  color: #565759;
  text-decoration: none;
}
/* line 1149, ../sass/screen.scss */
.footer_menu_link:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

/* line 1155, ../sass/screen.scss */
.footer_menu_separator {
  display: block;
  width: 5px;
  height: 4px;
  background-image: url("../img/sprites.png");
  background-position: -206px -196px;
}
